.a-box-inner {
    border-radius: 2px;
    position: relative;
    padding: 14px 18px;
    width:220px;
    height:300px;
    border:1px solid gray;
    margin:0px;
    Float:right;
}


 
hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}



.a-button-stack {
    width: 100%;
}



.a-button-input {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    background-color:grey;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-family: bold;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    padding: 8px 18px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.2s ease-out;
    border-radius: 2px;
}
.a-box-left{
    Float:left;
    position: relative;
    padding: 14px 18px;
    width:1100px;
    height:600px;
}
.a-text-bold {
    font-weight: 700!important;
}
.a-size-medium {
    text-rendering: optimizeLegibility;
    font-size: 17px!important;
    line-height: 1.255!important;
}
.a-color-price {
   color:red;
}
.a-text-center {
    text-align: center!important;
}
