<div>

    <div>    
            <h2>
               &nbsp; Shopping Basket
            </h2>
     </div>
    

<div class="a-box-left"> 
          <div>
              <table  class="table invoice-table">
                  <thead>
                     <tr>
                          <th><h3>Item No</h3></th> 
                          <th><h3>Quantity</h3></th>
                          <th><h3>Price</h3></th>
                     </tr>
                  </thead>
                  <tbody>
                      <tr>

                            <td>
                                    <div><strong>00001 Jacket</strong>
                                       <br/><br/>
                                        <img src="assets/img/jacket.jpg" width="25%" height="30%" />                                        
                                    </div>
                             </td>
                           <td>                                              
                             <div>                                     
                               <span >
                                <select>                       
                             <option value="1">
                                   1
                                </option>
                         
                                <option value="2">
                                  2
                               </option>
                    
                                <option value="3">
                                  3
                              </option>
                    
                              <option value="4">
                                4
                                </option>
                    
                                <option value="5">
                                    5
                                 </option>
                    
                                 <option value="6">
                                     6
                                </option>
                    
                                 <option value="7">
                                  7
                                 </option>
                    
                                 <option value="8">
                                     8
                                  </option>
                    
                                   <option value="9">
                                          9
                                    </option>
                    
                                   <option value="10">
                                    10+
                                   </option>
                                   </select>

                                   </span>

                                <div>

                                        <span>
                                            <span class="a-button-inner">
                                                <a href="/itemdetail" class="a-button-text" role="button">
                                               <br/>
                                     <span>Men's jaket, Red, XL</span>
                                      </a></span></span>
                                        </div>
                                    </div>

                           </td>

                           <td>&pound;26.00</td>

                           <td>
                                <input type="submit" value="Remove" aria-label="Delete 00001 Jacket" class="btn btn-danger">
                            </td>
                          </tr>
                         <tr>
                          <td>
                              <div><strong>00002 Shoes</strong>
                                <br/><br/>
                                        <img src="assets/img/shoe.jpg" width="25%" height="30%" />
                              </div>
                          </td>
                          <td>
                                <div>
                                       <span>
                                        <select>                               
                                      <option value="1" >
                                            1
                                         </option>
                                  
                                         <option value="2">
                                           2
                                        </option>
                             
                                         <option value="3">
                                           3
                                       </option>
                             
                                       <option value="4">
                                         4
                                         </option>
                             
                                         <option value="5">
                                             5
                                          </option>
                             
                                          <option value="6">
                                              6
                                         </option>
                             
                                          <option value="7">
                                           7
                                          </option>
                             
                                          <option value="8">
                                              8
                                           </option>
                             
                                            <option value="9">
                                                   9
                                             </option>
                             
                                            <option value="10">
                                             10+
                                            </option>
                                            </select>
                                          </span>
            
                     
                                         <div>
                                           <span>
                                               <span class="a-button-inner">
                                                   <a href="/itemdetail" data-action="update" class="a-button-text" role="button" id="a-autoid-1-announce">
                                              <br/>
                                   
                                              <span>Men's Running Shoes, Black, 6.5 UK</span>
                                               </a></span></span>
                                                 </div>
                                             </div>

                          </td>
                          <td>&pound;80.00</td>
                          <td>
                                <input type="submit" value="Remove" aria-label="Delete 00002 Shoes" class="btn btn-danger">
                            </td>
                      </tr>
                      <tr>

                          <td>
                              <div><strong>00003 Rope</strong>
                                <br/><br/>
                                  <img src="assets/img/rope.jpg" width="25%" height="30%" />
                              </div>
                          </td>
                          <td>

                                <div>
                                  
                                        <span>
                                        <label><span>        
                                        </span>
                                        </label>
                                        <select>
                             
                             
                                      <option value="1"  selected="">
                                            1
                                         </option>
                                  
                                         <option value="2">
                                           2
                                        </option>
                             
                                         <option value="3">
                                           3
                                       </option>
                             
                                       <option value="4">
                                         4
                                         </option>
                             
                                         <option value="5">
                                             5
                                          </option>
                             
                                          <option value="6">
                                              6
                                         </option>
                             
                                          <option value="7">
                                           7
                                          </option>
                             
                                          <option value="8">
                                              8
                                           </option>
                             
                                            <option value="9">
                                                   9
                                             </option>
                             
                                            <option value="10">
                                             10+
                                            </option>
                                            </select>
                                          </span>
                     
                                         <div>
                                           <span>
                                               <span>
                                                   <a href="/itemdetail" class="a-button-text" role="button">
                                               <br/><br/>
                             
                                              <span>Rope </span>
                                               </a>
                                            </span>
                                           </span>
                                                 </div>
                                             </div>
       


                          </td>
                          <td>&pound;22.00</td>
                          <td>
                                <input type="submit"  value="Remove" aria-label="Delete 00003 Rope" class="btn btn-danger">
                            </td>
                      </tr>

                  </tbody>
                  <br/><br/>
                                
                  <tfoot>
                        <tr>
                        &nbsp;  &nbsp; &nbsp; &nbsp;
                           <td><strong><h3>Total Price: £128 </h3></strong></td>
                           <td>{{totalPrice()}}</td>
                            <td>
                                    <input type="submit" value="Clean All"  class="btn btn-danger">
                                
                            </td>
                        </tr>
                  </tfoot>
              </table>
          </div>
          
         

</div>         
          
          







<div class="a-box-inner">
    <div class="a-section a-spacing-small a-text-center">
     <br/>

     <span class="a-size-medium a-text-bold">
            <span>
              Subtotal (3 item):
            </span>        
      <span class="a-size-medium a-color-price">£128</span>
   </span>
     
    <br/><br/>
    </div>

     <div class="a-button-stack">
            <span class="a-button-inner">
                <input name="proceedToCheckout" class="a-button-input" type="submit" routerLink="/" value="Proceed to checkout">
            </span>
     </div>
     <br/>
    <hr>
 
  <div>
    
        <div class="a-text-center">
                <div ><h5>or</h5></div>                    
                <span>
                 <a href="/">
                  Sign in
                </a>                   
                   to turn on 1-Click ordering.
                </span>
              
         </div>


    </div> 
</div>





</div>
