<div class="container">
	<div class="row">
	  <div class="col-sm-10 col-sm-offset-1" id="logout">
		  <div class="page-header">
			    <h3 class="reviews">My Hires</h3>
		  </div>
		  
			  <ul class="nav nav-tabs" role="tablist">
				  <li class="active"><a href="#current" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Current</h4></a></li>
				  <li><a href="#future" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Future</h4></a></li>
				  <li><a href="#past" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Past</h4></a></li>
			  </ul>            
			  <div class="tab-content">
				  <div class="tab-pane active" id="current">                
					  <div class="row">
						  <div class="col-md-4">
						    <div class="card mb-4 box-shadow">
									<div class="card h-100">
										<div class="card-body">
											<h2 class="card-title">Group 1</h2>
											<div class="card-text">
												<p>ID:3</p>
												<p>Collect_date:</p>
												<p>Return_date:</p>
												<p>Reference:</p>
												<p>Invoice_number:</p>
												<p>List of Orders:</p>
												<select multiple class="form-control" >
													<option>Rucksack and Liner</option>
													<option>Sleeping Bag</option>
													<option>Fleece</option>
													<option>Sun Hat</option>
													<option>Warm Hat</option>
												</select>
											</div>
										</div>
										<div class="card-footer">
											<a href="/itemdetail" class="btn btn-primary">add to order</a>
										</div>
									</div>
						    </div>
						  </div>
							<div class="col-md-4">
						    <div class="card mb-4 box-shadow">
 
									<div class="card h-100">
										<div class="card-body">
											<h2 class="card-title">Group 2</h2>
											<div class="card-text">
												<p>ID:2</p>
												<p>Collect_date:</p>
												<p>Return_date:</p>
												<p>Reference:</p>
												<p>Invoice_number:</p>
												<p>List of order:</p>
												<select multiple class="form-control" >
														<option>Rucksack and Liner</option>
														<option>Sleeping Bag</option>
														<option>Fleece</option>
														<option>Sun Hat</option>
														<option>Warm Hat</option>
												</select>
											</div>
										</div>
										<div class="card-footer">
											<a href="/itemdetail" class="btn btn-primary">add to order</a>
										</div>
									</div>
						    </div>
						  </div>
							<div class="col-md-4">
						    <div class="card mb-4 box-shadow">
 
									<div class="card h-100">
										<div class="card-body">
											<h2 class="card-title">Group 3</h2>
											<div class="card-text">
												<p>ID:4</p>
												<p>Collect_date:</p>
												<p>Return_date:</p>
												<p>Reference:</p>
												<p>Invoice_number:</p>
												<p>List of order:</p>
												<select multiple class="form-control" >
														<option>Rucksack and Liner</option>
														<option>Sleeping Bag</option>
														<option>Fleece</option>
														<option>Sun Hat</option>
														<option>Warm Hat</option>
												</select>
											</div>
										</div>
										<div class="card-footer">
											<a href="/itemdetail" class="btn btn-primary">add to order</a>
										</div>
									</div>
						    </div>
						  </div>
				
					
					  </div>   
					</div>
					

				  <div class="tab-pane" id="future">
				    <div class="row">
						  <div class="col-md-4">
								<div class="card h-100">
									<div class="card-body">
										<h2 class="card-title">Group 1</h2>
										<div class="card-text">
											<p>ID:4</p>
											<p>Collect_date:</p>
											<p>Return_date:</p>
											<p>Reference:</p>
											<p>List of Orders:</p>
												<select multiple class="form-control" >
													<option>Rucksack and Liner</option>
													<option>Sleeping Bag</option>
													<option>Fleece</option>
													<option>Sun Hat</option>
													<option>Warm Hat</option>
												</select>
										</div>
									</div>
									<div class="card-footer">
										<a href="/itemdetail" class="btn btn-primary">changes orders</a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card h-100">
									<div class="card-body">
										<h2 class="card-title">Group 2</h2>
										<div class="card-text">
											<p>ID:4</p>
											<p>Collect_date:</p>
											<p>Return_date:</p>
											<p>Reference:</p>
											<p>List of Orders:</p>
												<select multiple class="form-control" >
													<option>Rucksack and Liner</option>
													<option>Sleeping Bag</option>
													<option>Fleece</option>
													<option>Sun Hat</option>
													<option>Warm Hat</option>
												</select>
										</div>
									</div>
									<div class="card-footer">
										<a href="/itemdetail" class="btn btn-primary">change orders</a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card h-100">
									<div class="card-body">
										<h2 class="card-title">Group 3</h2>
										<div class="card-text">
											<p>ID:4</p>
											<p>Collect_date:</p>
											<p>Return_date:</p>
											<p>Reference:</p>
											<p>List of Orders:</p>
												<select multiple class="form-control" >
													<option>Rucksack and Liner</option>
													<option>Sleeping Bag</option>
													<option>Fleece</option>
													<option>Sun Hat</option>
													<option>Warm Hat</option>
												</select>
										</div>
									</div>
									<div class="card-footer">
										<a href="/itemdetail" class="btn btn-primary">change orders</a>
									</div>
								</div>
							</div>	
						</div>	 
					</div>
					
					
				  <div class="tab-pane" id="past">
					 <div class="row">
						<div class="col-md-4">
						  <div class="card mb-4 box-shadow">
 
								<div class="card h-100">
									<div class="card-body">
										<h2 class="card-title">Group 1</h2>
										<div class="card-text">
											<p>ID:1</p>
											<p>Collect_date:</p>
											<p>Return_date:</p>
											<p>List of order:</p>
											<p>Reference:</p>
											<p>Invoice_number:</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
						  <div class="card mb-4 box-shadow">
 
								<div class="card h-100">
									<div class="card-body">
										<h2 class="card-title">Group 2</h2>
										<div class="card-text">
											<p>ID:2</p>
											<p>Collect_date:</p>
											<p>Return_date:</p>
											<p>List of order:</p>
											<p>Reference:</p>
											<p>Invoice_number:</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
						  <div class="card mb-4 box-shadow">
 
								<div class="card h-100">
									<div class="card-body">
										<h2 class="card-title">Group 2</h2>
										<div class="card-text">
											<p>ID:2</p>
											<p>Collect_date:</p>
											<p>Return_date:</p>
											<p>List of order:</p>
											<p>Reference:</p>
											<p>Invoice_number:</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>  
				  </div>
			  </div>
		</div>  
	</div>
</div>
