<main role="main">

 

  <div class = "container mt-5">
      <form class="form-inlinem ">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          
      </form>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            
            <div class="card-body">
         
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <img src="/assets/img/jacket.png" class="img-rounded">
                </div>
                <p>Waterproof Jacket</p>
                <div class="btn-group">
                    <a href="/itemdetail" class="btn btn-success">Detail</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                  <div>
                      <img src="/assets/img/sleepingbag.png" class="img-rounded">
                    </div>
                    <p>Sleeping Bag</p>
                    <div class="btn-group">
                        <a href="/itemdetail" class="btn btn-success">Detail</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            
            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                  <div>
                      <img src="/assets/img/sleepingmat.png" class="img-rounded">
                  </div>
                    <p>Sleeping Mat</p>
                  <div class="btn-group">
                        <a href="/itemdetail" class="btn btn-success">Detail</a>
                    </div>
               </div>
            </div>
          </div>
        </div>

        
        

        
       
        
      </div>
    </div>
  </div>

</main>
