
<div class="media mt-5 mr-3 ml-3">
    <img src="/assets/img/shoe.jpg" width="400" height="320" class="rounded float-left" alt="...">
    <div class="media-body ml-5">
      <h5 class="mt-0">Walking Shoe</h5>
      <p>Bla bla walking is fun</p>
      <div class="mb-4">
          <label for="inlineFormCustomSelect">Size</label>
          <select  id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="1">4</option>
            <option value="2">5</option>
            <option value="3">6</option>
          </select>
        </div>
        <div >
            <label for="inlineFormCustomSelect">Quantity</label>
            <select  id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div>
          <button class="btn btn-lg btn-primary btn-block mt-5" type="submit" routerLink="/newhire">Add to basket</button>
        </div>
    </div>
   
  </div>
