<div>
 
<div>
<div class="media mt-5 mr-3 ml-3">
    <img src="/assets/img/shoe.jpg" width="400" height="320" class="rounded float-left" alt="...">
    <div class="media-body ml-5">
      <h2 class="mt-0"><strong>Walking Shoe</strong></h2>
      <p>Bla bla walking is fun</p>
      <div class="mb-4">
          <label for="inlineFormCustomSelect"><strong>Size</strong>
          </label>
          <select  id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="1">4</option>
            <option value="2">5</option>
            <option value="3">6</option>
          </select>
        </div>
        <div >
            <label for="inlineFormCustomSelect"><strong>Quantity</strong></label>
            <select  id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <br/>
          <div id="feature-bullets" class="a-section a-spacing-medium a-spacing-top-small">
              <ul class="a-unordered-list a-vertical a-spacing-none">
            <li><span class="a-list-item">  Outer Material: Synthetic</span></li>
            <li><span class="a-list-item"> Inner Material: Textile</span></li>
            <li><span class="a-list-item"> Closure: Lace-Up</span></li>
            <li><span class="a-list-item"> Material Composition: Synthetic </span></li>
              </ul>
           </div>


    </div>
    

  <div class="a-box-inner">
    <div class="a-section a-spacing-small a-text-center">
     <br/>
      <span>
      To buy, select <strong>Size and Quantity</strong>
    </span>
    <br/><br/>
    </div>

    <div class="a-button-stack">
          <button class="btn btn-lg btn-primary btn-block mt-5" type="submit" routerLink="/newhire">Add to basket</button>
    </div>
     <br/>
  <hr class="a-spacing-base a-divider-normal">
 
  <div>
    <button class="a-button-input" type="submit" routerLink="/newhire">Add to List </button>
</div> 
</div>
</div>



</div>
