.a-box-inner {
    border-radius: 2px;
    position: relative;
    padding: 14px 18px;
    width:220px;
    height:300px;
    border:1px solid gray;
    margin:0px;
}

.a-spacing-small, .a-ws .a-ws-spacing-small {
    margin-bottom: 10px!important;
}
 
hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}



.a-button-stack .a-button-group {
    width: 100%;
}



.a-button-input {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    background-color:grey;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-family: bold;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    padding: 8px 18px;
    overflow: hidden;
    text-decoration: none;
    transition: 0.2s ease-out;
    border-radius: 2px;
}

#feature-bullets li span {
    word-wrap: break-word;
    display: block;
}

.a-ordered-list .a-list-item, .a-unordered-list .a-list-item, ol .a-list-item, ul .a-list-item {
    color: #111;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
