<div>
 
<div>
<div class="media mt-5 mr-3 ml-3">
    <img src="/assets/img/shoe.jpg" width="400" height="320" class="rounded float-left" alt="...">
    <div class="media-body ml-5">
      <h2 class="mt-0"><strong>Walking Shoe</strong></h2>
      

      <p>Bla bla walking is fun</p>
      <div class="mb-4">
          <label for="inlineFormCustomSelect"><strong>Size</strong>
          </label>
          <select  id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="1">4</option>
            <option value="2">5</option>
            <option value="3">6</option>
          </select>
        </div>
        <div >
            <label for="inlineFormCustomSelect"><strong>Quantity</strong></label>
            <select  id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <br/>
          <div id="feature-bullets" class="a-section a-spacing-medium a-spacing-top-small">
              <ul class="a-unordered-list a-vertical a-spacing-none">
            <li><span class="a-list-item">  Outer Material: Synthetic</span></li>
            <li><span class="a-list-item"> Inner Material: Textile</span></li>
            <li><span class="a-list-item"> Closure: Lace-Up</span></li>
            <li><span class="a-list-item"> Material Composition: Synthetic </span></li>
              </ul>
           </div>


    </div>
    

  <div class="a-box-inner">
    <div class="a-section a-spacing-small a-text-center">
     <br/>
      <span>
      To buy, select <strong>Size and Quantity</strong>
    </span>
    <br/><br/>
    </div>

    <div class="a-button-stack">
          <button class="btn btn-lg btn-primary btn-block mt-5" type="submit" routerLink="/newhire">Add to basket</button>
    </div>
     <br/>
  <hr class="a-spacing-base a-divider-normal">
 
  <div>
    <button class="a-button-input" type="submit" routerLink="/newhire">Add to List </button>
</div> 
</div>
</div>


<br>
<hr class="a-spacing-base a-divider-normal">

<br/>
<div class="a-column a-span8" align="center">
	<h2>More detail about products shows below

	</h2>
</div> 
<br/>

<div class='col-sm-6 col-sm-offset-3'>
  <carousel class='text-center'>
    <slide>
      <img src="assets/img/shoe.jpg" alt="First slide" style="display: block;"  height="600"  width="700" >
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/hills3.jpg" alt="Second slide" style="display: block;" height="600"  width="700" >
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/walker.jpg" alt="Third slide" style="display: block;" height="600"  width="700">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
 </div>







</div>